html
  include includes/head.pug
  body
    include includes/navigation.pug
    block content
    div#main
      h1
        | Le panthéon

      p
        | Ici est entretenue la mémoire des héros qui ont marqué l'histoire de Cubekatraz.
      div#hOFCaption
        p#hOFElement
          | Joueur 1
        p#hOFElement
          | Joueur 2
        p#hOFElement
          | Score du groupe
        p#hOFElement
          | Victoire du groupe
        p#hOFElement
          | Temps écoulé
        p#hOFElement
          | Date
      div#hoFMatchScreen
        each duo , index in data
          div#oneHOFMatch
            p#hOFElement
              a(href='/profil/' + duo.player1)= duo.player1
            p#hOFElement
              a(href='/profil/' + duo.player2)= duo.player2
            p#hOFElement=duo.score
            p#hOFElement=duo.victory
            p#hOFElement=duo.time
            p#hOFElement=duo.date