html
  include includes/head.pug
  body
    script.
      var profil = '!{profil}';
      var consultedProfile = '!{consultedProfile}';
      var hideIcon = '!{hideIcon}';
      var avatarProfil = '!{avatarProfil}'
    script(type='text/javascript', src='/js/profil.js')
    include includes/navigation.pug
    div#profilBackGround
      div#profilWrapper
        div#profilAvatar
          h1= titleprofil
          img(src=avatarProfil)
          input#iconEditAvatar(type='image', src='/images/icons/edit.svg', class='edit', title='modifier votre avatar')
          div#changeAvatar
            form#avatarForm(action='/profil/' + profil, method='post')
              div
                h2 Changer image de profil
                p Déposez ici une url valide :
                input#editAvatar(name='editAvatar', value=avatarProfil)
                button(type='submit', value='envoyer') envoyer
                button#cancelEditAvatar(name='button') annuler
                h2 Aperçu :
                img#avatarPreview(src=avatarProfil)
        div#profilDetails
          div#profilPresentation
            img#iconTrombone(src='/images/icons/trombone.png')
            h2 Dossier pénitentiaire
            p#description= description
            form#descriptionForm(action='/profil/' + profil, method='post')
              div
                textarea#editDescription(name='editDescription', maxlength='380', rows='8' cols='20' wrap='hard', height='130px')
                button(type='submit', value='envoyer') envoyer
                button#cancelEditDescription(name='button') annuler
            input#iconEditDescription(type='image', src='/images/icons/edit.svg', class='edit', title='éditer votre description')

          div#statsAndFriends
            div#profilStats
              div 
                h2 Observations
                div#statsIcons
                  div
                    img(src='/images/icons/score.png', title='meilleur score')
                  div
                    img(src='/images/icons/coop.png', title='parties effectuées')
                  div
                    img(src='/images/icons/victories.png', title='parties victorieuses')
                  div
                    img(src='/images/icons/chrono.png', title='meilleur chrono')
                div#statsValues
                  p= bestScore
                  p= matchPlayed
                  p= gameFinished
                  p= bestTime
              div
                h2 Trophées
                p (en cours de développement)
            div#ProfilFriends
              div
                h2 Amis (!{friends.length})
                form(action='/profil/' + consultedProfile, method='post')
                  input#hiddenField(type='text',name='addFriend', value=consultedProfile) 
                  input#iconAddFriend(type='image', alt="Submit", src='/images/icons/addFriend.png', class='edit', title='ajouter ' + consultedProfile + ' en ami')
                ul
                  each friend , index in friends
                    li
                      a(href='/profil/' + friend)= friend
              if profil === consultedProfile
                div
                  h2 Envoyées (!{friendsYouRequest.length})
                  p Vos demandes envoyées en attente de réponse
                  ul
                    each friendYouRequest , index in friendsYouRequest
                      li
                        form(action='/profil/' + consultedProfile, method='post')
                          a(href='/profil/' + friendYouRequest)= friendYouRequest
                          button#cancelAddFriend(name='cancelRequestSent', value=friendYouRequest) annuler
                div
                  h2 Reçues (!{requestYouForFriend.length})
                  p Les demandes reçues en attente de votre réponse
                  ul
                    each requestForYou , index in requestYouForFriend
                      li
                        form(action='/profil/' + consultedProfile, method='post')
                          a(href='/profil/' + requestForYou)= requestForYou
                          button#refuseRequestFriend(name='refuseRecievedRequest', type='submit', value=requestForYou) annuler
                          button#acceptRequestFriend(name='acceptRecievedRequest', type='submit', value=requestForYou) accepter
  include includes/footer.pug